<div class="navbar navbar-expand-lg navbar-transparent navbar-collapse collapse" style="position: relative;float:right;top:-15px;">
	<ul class="menu navbar-nav me-auto">
	{{#data-footer-links}}
	<li class="nav-item" >
		<a href="{{link}}" class="nav-link">
			{{title}}
		</a>
	</li>
	{{/data-footer-links}}
	</ul>
</p>