{{#data-navbar}}
{{#parent}}
<li class="dropdown nav-item mm-parent">
	<a href="{{link}}" class="nav-link dropdown-toggle {{class}}" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		{{title}}
	</a>
	<button type="button" class="mm-toggler" aria-haspopup="true" aria-expanded="false" aria-label="{{title}}"></button>
	<ul class="dropdown-menu mm-collapse" aria-labelledby="navbarDropdown">
{{/parent}}
{{^parent}}
<li class="nav-item">
	<a href="{{link}}" class="nav-link">
		{{title}}
	</a>
{{/parent}}
{{#sublinks}}
	<li class="nav-item">
		<a class="dropdown-item" href="{{link}}">
			{{title}}
		</a>
	</li>
{{/sublinks}}
{{#sublinks.length}}
	</ul>
{{/sublinks.length}}
</li>
{{/data-navbar}}
