<li class="dropdown nav-item" data-dropdown="dropdown">
	<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
		data-bs-toggle="dropdown" aria-expanded="false">Outils
	</a>
	<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
		{{#data-toolbox}}
		<li id="{{id}}">
			<a class="dropdown-item" href="{{href}}"  >
				 {{msg}}
			</a>
		</li>
		{{/data-toolbox}}
	</ul>
</li>	