<div class="vector-user-menu-create-account">{{{htmlCreateAccount}}}</div>
<ul style="padding:0;margin-left:-5px;">
	<li class="btn btn-light">
		{{{htmlLogin}}}
	</li>
</ul>
<div class="vector-user-menu-anon-editor">
	<p>
		{{{msgLearnMore}}} {{{htmlLearnMoreLink}}}
	</p>
</div>
