/*mediawiki*/
input,
textarea {
	max-width: 85%;
}

div.toc {
	border: none !important;
}

table.toc
{
	padding-left:15px;
	padding-right:15px;	
}

table.toc ul
{
	list-style-type:none!important;
}


.toctogglespan {
  font-size: 94%;
}
.toctogglespan:before {
  content: " [";
}
.toctogglespan:after {
  content: "]";
}
.toctogglelabel {
  cursor: pointer;
  color: #0645ad;
}
.toctogglelabel:hover {
  text-decoration: underline;
}
.toctogglecheckbox:focus + .toctitle .toctogglelabel {
  text-decoration: underline;
  outline: dotted 1px;
  outline: auto -webkit-focus-ring-color;
}
.toctogglecheckbox:checked + .toctitle .toctogglelabel:after {
  content: "afficher";
}
.toctogglecheckbox:not(:checked) + .toctitle .toctogglelabel:after {
  content: "masquer";
}
.toctogglecheckbox:checked ~ ul {
	display: none;
}

.toc .toctitle {
  direction: ltr;
}
.mw-content-ltr .toc ul,
.mw-content-rtl .mw-content-ltr .toc ul {
  text-align: left;
}
.mw-content-rtl .toc ul,
.mw-content-ltr .mw-content-rtl .toc ul {
  text-align: right;
}
.mw-content-ltr .toc ul ul,
.mw-content-rtl .mw-content-ltr .toc ul ul {
  margin: 0 0 0 2em;
}
.mw-content-rtl .toc ul ul,
.mw-content-ltr .mw-content-rtl .toc ul ul {
  margin: 0 2em 0 0;
}
li.toclevel-1,li.toclevel-2
{
	list-style-type: none;
}

div.mw-geshi {
    border: 1px dashed #2F6FAB;
    margin:  0;
    padding: 5px;
	background-color: #FFFFFF !important;
}


a#togglelink, span.toctoggle,div#jump-to-nav
{
	display: none;
}

.fc-header-title h2 {
    font-size: 18px!important;    
	border-bottom:none!important;
}

td.fc-header-left,span.fc-button-today,span.srf-calendarbutton-pane,span.srf-calendarbutton-refresh {
	display: none !important;
}

figure {
	margin: 5px !important
}	


@media (min-width:320px ) and (max-width: 592px){
	.navigation {
		top: -102px ;	
	}
	.navbar-nav {
	  padding-left: 2rem;
	}
	
}
@media (min-width:120px ) and (max-width: 320px){
	.navigation {
		top: -62px ;	
	}
}



div.navbar ul {
	margin :0 !important;
}



.toctogglespan {
    position: relative;
    left: 100px;
	top: -35px;
	 border: 1px solid #a2a9b1;
}



.toc {
  display: table;
  padding: 7px;
}

.toc, .toccolours {
  border: 1px solid #a2a9b1;
  background-color: #f8f9fa;
  padding: 5px;
  font-size: 95%;
}

.tagcloud {   
    border: none !important;
    padding: 5px;
    text-align: center;
}

/* JLT*/
.body .footer .container
{
	max-width :900px !important;
	background-color: transparent!important;
}

h1 {
	/* Mediawiki*/
	font-size: 20px!important;
	border-bottom: 1px solid #a2a9b1!important;
}
h2 {
	font-size: 18px!important;
	line-height: 34px!important;
	border-bottom: 1px solid #a2a9b1!important;
}

h3 {
    font-size: 18px !important;
    line-height: 20px;
}


h4, h5, h6 {
	border-bottom: none !important;
	margin: 8px 0 6px 0!important;
}


h4 {
	font-size :14px! important;
}

h5 {
	font-size :12px! important;
}



.dropdown-item {
	display: block;
	width: 100%;
	padding: .25rem 1rem;
	clear: both;
	font-weight: 400;
	color: #212529;
	text-align: inherit;
	text-decoration: none;
	white-space: nowrap;
	background-color: transparent;
	border: 0;
}

.bodycontent {
	padding-top: 15px;
}


li {
	margin-bottom: 0.1em;
}

.catlinks {
	border: 1px solid #a2a9b1;
	background-color: #f8f9fa;
	padding: 5px;
	margin-top: 1em;
	clear: both;
}

.catlinks ul {
	display: inline;
	margin: 0;
	padding: 0;
	list-style: none;
	
}

.catlinks li {
	display: inline-block;
	line-height: 1.25em;
	border-left: 1px solid #a2a9b1;
	margin: 0.125em 0;
	padding: 0 0.5em;
}

.catlinks li:first-child {
	padding-left: 0.25em;
	border-left: 0;
}

a {
  text-decoration:none!important;
  color:#0645ad;
  background:none
}

.smwtable-clean tr > th {
	text-align: start;
}


h2.tl-headline {
	font-size: 12px!important;
	line-height: 14px!important;
}